# Gradle
.gradle
build/
!build/dist/
!build/dist-exploded/

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
*.jks
*.p12
*.keystore
*.mobileprovision

# IDE
.idea/
*.iml
.DS_Store
*.swp
*~
*.bak
*.orig

# Spring Boot
target/
!target/classes/
!target/test-classes/
*.jar
*.war

# Flyway
*.sql
